.row {
  display: flex;
}

.cell {
  border: 1px solid #000000;
  box-sizing: border-box;
  position: relative;
}

.board-free img, .cell{
  width: 50px;
  height: 50px;
}

.board-tribute img{
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-potion img{
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-sword img{
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  rotate: -30deg;
}

.board-bow img{
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  rotate: 30deg;
}