.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.logo-img{
  width: 80px; 
  height: auto;
  margin: 2em;
  display: block;
}

:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
}

.volume-slider {
  display: none;
}

.volume-slider.active {
  display: block;
}

.audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 60px;
  padding: auto;
  
}

.volume-button-off {
  margin-bottom: 20px;
}