.choose-character-container {
  display: flex;
  height: 100px;
  padding-top: 10px;
}

.grid::-webkit-scrollbar {
  display: none; /* Escondemos la scrollbar en Chrome, Safari y Edge */
}

.card{
  display: flex;
  width: 75px;
  height: 100px;
  cursor: pointer;
}
.card img{
  width: 0px;
  flex-grow: 1;
  filter: contrast(120%);
  object-fit: cover;
  opacity: 1;
  transition: .5s ease;
}
.card img:hover{
  transform: scale(1.5);
  z-index: 1;
}

.card.selected img{
  opacity: 1;
  filter: contrast(130%);
  background-color: rgba(128, 128, 128, 0);
  transform: scale(1.5);
  filter: contrast(120%);
  z-index: 1;
}

.stat {
  width: 20px;
  height: 40px;
  margin: 2px;
  background-color: #ffffff;
  border: 1px solid #0000004f;
  border-radius: 5px; /* Añade bordes redondeados */
  overflow: hidden;
}

.is-consumed {
  width: 20px;
  height: 40px;
  margin: 2px;
  border: 1px solid #0000004f;
  border-radius: 5px; /* Añade bordes redondeados */
  overflow: hidden;
  background-color: hsl(14, 100%, 45%);
}

.stats-bar {
  display: flex;
  flex: auto;
  margin: 18px;
}

.incrementable-value{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.increment-button, .decrement-button {
  margin: 5px;
  display: inline-block;
}

.increment-button :hover{
  background-color: green;
  border-color: green;
}

.decrement-button :hover{
  background-color: red;
  border-color: red;
}

.incrementable-bars {
  display: flex;
  align-items: center;
}

.district-name {
  margin: 10px;
}

.stats-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 20px; 
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.418); 
  width: auto;
  height: 100vh;
  margin: 0 auto;
  position: relative; 
  backdrop-filter: blur(10px);
}


.incrementable-bar-atribute {
  color: white;
  display: inline-block;
  width: 100px; 
  text-align: right; 
  font-weight: bold;
}

.value-stat {
  color: white;
  width: 34px;
  font-weight: bold;
  text-align: center;
  height: 34px;
  display: grid;
  align-content: center;
}

.bars-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: auto;
}

.available-stats {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.init-simulation-button , .init-simulation-button.is-ready{
  width: 10em;
  position: relative;
  height: 3.5em;
  outline: none;
  background-color: transparent;
  color: rgb(255, 244, 244);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

.init-simulation-button.is-ready {
  background-color: #00000071;
  border: 3px ridge hsla(0, 0%, 0%, 0.637);
}

.init-simulation-button.is-ready:hover {
  box-shadow: inset 0px 0px 25px #e00404;
}

.menu-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100%; 
  align-items: center;
  background-image: url('../../public/fondo.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  position: relative; 
}

.menu-buttons-container {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

.incrementable-value .increment-button {
  order: 2;
}

@media screen and (max-width: 1368px) {
  .stat {
    height: 25px;
    width: 15px;
  }
}
.incrementable-value .decrement-button {
  order: 1; /* Cambia el orden a 1 para moverlo a la izquierda */
}