.stat {
  width: 20px;
  height: 40px;
  margin: 2px;
  background-color: #ffffff;
  border: 1px solid #00000034;
  border-radius: 5px; /* Añade bordes redondeados */
}

.stat.is-consumed {
  background-color: orangered;
}

.stats-bar {
  display: flex;
  flex: auto;
  
  margin: 5px;
}

.incrementable-value{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.increment-button, .decrement-button {
  cursor: pointer;
  margin: 5px;
  display: inline-block
}

.increment-button :hover{
  background-color: green;
  transition: .3s ease background-color;
}

.decrement-button :hover{
  background-color: red;
  transition: .3s ease background-color;
}

.incrementable-bars {
  display: flex;
  align-items: center;
}

.district-name {
  margin: 10px;
}

.stats-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  background: white;
  width: auto;
}

.incrementable-bar-atribute {
  color: black;
  display: inline-block;
  width: 100px; 
  text-align: right; /* Alinea el texto a la derecha dentro del contenedor */
  font-weight: bold;
}

.value-stat {
  color: black;
  width: 34px;
  font-weight: bold;
  text-align: center;
  height: 34px;
  display: grid;
  align-content: center;
  /* background-color: darkkhaki; */
}

.bars-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: auto;
}

.available-stats {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.init-simulation-button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #ff0000;
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.init-simulation-button.is-ready {
  background-color: rgb(255, 255, 255);
  border: 3px ridge green;
}

.init-simulation-button.is-ready:hover {
  box-shadow: inset 0px 0px 25px #15ff00;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
  margin-top: 5em;
}
